.watch {
  width: 400px;
  height: 300px;
  cursor: pointer;
  position: relative;

  .watch__inner {

    &:hover {

      .watch__month {
        animation: activeBlockMonth 1s ease;
        margin-left: 50px;
      }

      .watch__time {
        animation: activeBlockTime 1s ease;
        margin-left: 100px;
      }
    }

    .watch__year {
      width: 300px;
      height: 100px;
      color: #FFFFFF;
      background: #333333;
      box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #ff0000 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;

      &:hover {
        &:before {
          position: absolute;
          animation: showBlockBefore 1s ease;
          display: block;
          content: '';
          background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(0, 234, 129, 1) 58%, rgba(0, 203, 255, 0) 100%);
          width: 360px;
          height: 100px;

        }
      }
    }

    .watch__month {
      width: 300px;
      height: 100px;
      background-color: #2a2a2b;
      color: #FFFFFF;
      box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #ffffff 0px 0px 15px, #f80202 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;

      &:hover {

        &:before {
          position: absolute;
          animation: showBlockBefore 1s ease;
          display: block;
          content: '';
          background: linear-gradient(90deg, rgb(36, 1, 24) 0%, rgb(200, 0, 255) 53%, rgba(0, 203, 255, 0) 100%);
          width: 360px;
          height: 100px;
        }
      }
    }

    .watch__time {
      width: 300px;
      height: 100px;
      background-color: #1a1a1a;
      color: #FFFFFF;
      box-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #ffffff 0px 0px 15px, #ff000b 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;


      &:hover {

        &:before {
          position: absolute;
          animation: showBlockBefore 1s ease;
          display: block;
          content: '';
          background: linear-gradient(to right, #080018 0%, #3F9BA4 48%, rgba(255, 255, 255, 0) 100%);
          width: 360px;
          height: 100px;

        }
      }
    }
  }
}

@keyframes activeBlockMonth {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes activeBlockTime {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 100px;
  }
}

@keyframes showBlockBefore {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}


.number {
  display: flex;
  position: relative;
  width: 100%;
  opacity: 1;
  animation: showTime .5s ease-in-out;

  &.year {
    left: 80px;
    top: 33px;

  }

  &.month {
    left: 70px;
    top: 33px;

  }

  &.time {
    left: 27px;
    top: 33px;

  }

  .number_item {
    width: 40px;
  }

  .number__dot {
    position: relative;
    left: -17px;
    top: 5px;
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    .number__dot_item {
      display: block;
      width: 7px;
      height: 7px;
      background-color: #000;
    }
  }
}

@keyframes showTime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}





